* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
  }
  body {
    background-color: #F5F5F5;
    font-size: 22px;
  }
  ul,
  li,
  ol {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
  
  
  /** side bar start **/
  .container{
        width:100%;
        position: relative;
    
  }
  .aside-nav{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        width: 25%;
        height: 100vh;
      background-color: #fff;
  }
  .aside-nav{
        text-align: center;
  }
  .nav-head{
        margin: 20px auto 100px;
        color:#0b49bdcc;
        font-weight: bolder;
        font-size: 50px;
  }
  .nav-row{
     margin: 50px 100px ;
  
  
  }
   .nav-prof img{
        width: 50px;
        height: auto;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        overflow: hidden;
  }
  .nav-list-item1{
        display: flex;
        justify-content: flex-start;
        gap: 20px;
  
  
  }
  .prof-text :first-child{
        font-size:30px;
        color: rgba(14, 14, 17, 0.801);
  
  }
  .prof-text :last-child{
        font-size: 15px;
        color: #A7A7A7;
  
        
  }
  
  /* CSS */
  .button-nav {
        width: 100%;
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
  }
  
  .button-nav:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  }
  
  .button-nav:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  .button-nav:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
  }
  .nav-list-item{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        margin-bottom: 20px;
        color: #656565;
        transition: all 0.2s ease;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -ms-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        padding: 5px 10px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
  }
  .nav-list-item:hover{
        background-color: #c2b4b4ce;
        color: #3c4fe0;
  
  }
  /** side bar finish **/
  /** right side top-half started**/
  .rightside{
    width: 75%;
    position: absolute;
    right: 0;
 }
 .gojo{
    padding: 2%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
 }
 .left-eye button {
    background: none;
    
 }
 .left-eye input {
    height: 100%; 
    
 }
 
.profile img{
    width: 30px;
    border-radius: 20px;
    
}
.header-profile{
    display: flex;
}
.header-profile p {
    color: #bebebe;
    font-size: small;
    margin-left: 10px ;
}
.mid-part{
    padding: 5%;
}
.mid-part img{
    width: 3%;
}
.mini-container{
    background-color: violet;
    width: 28%;
    padding: 3% 2%;
    border-radius: 10px;
    color: #ffffff;
    margin-top: 2%;
}
.mini-container img {
    width: 15%;
}
.shit-show {
    display: flex;
    justify-content: space-between;
}
#first-mini {
    background-color: #B67AF5;
}
#second-mini {
    background-color: #6881E6;
}
#third-mini {
    background-color: #FE9D8A;
}

/** right side top-half finished**/

.standard-tabel-design {
  width: 100%;
  border: 1px solid gray;
  padding: 20px;
}

.header {
  margin-bottom: 30px;
}

.topic {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px;
}

.topic-width {
  width: 25%;
  display: flex;
  justify-content: space-between;
}

.detail-firstline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid rgb(190, 190, 190);
  padding: 10px;
}

.detail-width {
  width: 25%;
  display: flex;
  justify-content: space-between;
}

.last-span {
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(255, 0, 0, 0.699);
  color: white;
}

.padding {
  padding-right: 27px;
}